head
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0;')
  title Bewerbungsbestätigung
body(style='padding: 0; margin: 0; width: 100%; height: 100%')
  table(width='100%', align='center', border='0', cellpadding='0', cellspacing='0')
    tr
      td &nbsp;
    tr
      td(align='center', valign='top')
        table.container(
          border='0',
          cellpadding='0',
          cellspacing='20',
          align='center',
          width='90%',
          style='max-width: 800px'
        )
          tr
            td(
              valign='top',
              style='font-size: 17px; font-weight: 400; color: #000000; font-family: sans-serif',
              width='87.5%'
            )
              p #{fullName},
              p vielen Dank für deine Bewerbung beim Talent Elevator 2024! Wir freuen uns riesig, dass du Teil unserer Karriereveranstaltung sein möchtest.
              p Wir werden deine Unterlagen mit großer Sorgfalt prüfen und dir bis zum 17. Mai Bescheid geben, ob wir dich beim Talent Elevator 2024 begrüßen dürfen. Es wäre super, wenn du dir daher den Eventtag, den 24. Mai, schon mal freihalten könntest!
              p Für weitere Fragen stehen wir dir gerne unter #[a(href='mailto:talentelevator@icons.at', target='_blank') talentelevator@icons.at] zur Verfügung.
              p Wir drücken dir die Daumen und hoffen, dich bald bei unserem Event willkommen zu heißen.
              p
                | Beste Grüße,
                br
                | Dein Talent Elevator Team
          tr
            td(align='center', valign='top', width='87.5%')
              hr(color='#E0E0E0', align='center', width='100%', size='1', noshade='')
        table(
          border='0',
          cellpadding='0',
          cellspacing='20',
          align='center',
          style='color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400'
        )
          tr
            td(align='center', valign='top', width='87.5%')
              | Sie habe sich nicht beworben?
              br
              | Melden Sie sich bei #[span]
              a(
                href='mailto:johannes.oster@icruiting.at',
                target='_blank',
                style='color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400'
              ) johannes.oster@icruiting.at
              br
              br
              a(
                href='https://icruiting.at',
                target='_blank',
                style='color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400'
              ) icruiting.at
