html
  head
    title icruiting-report
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include report.css
  body
    div(class="a4-container")
      header(class="banner")
        h1 Bewerber*innengutachten
        h3 #{formCategory}
      main(class="container")
        div(class="header-container")
          if !!imageURL
            img(src=imageURL height="150px" width="auto" style="margin-right:16px;")
          section(style="flex:1;")
            table
              tbody
                for attribute in attributes
                  tr
                    td #{attribute.key}
                    td #{attribute.value}
        section(style="display:grid;row-gap:8px;")
          h4 Übersicht
          table
            tbody
              tr
                td Rang
                td #{rank}
              tr
                td Gesamtscore
                td #{score}
              tr
                td Standardabweichung
                td #{standardDeviation}

