html
  head
    title icruiting-webform
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://sdk.amazonaws.com/js/aws-sdk-2.680.0.min.js')
    script
      include ic-iframe-resize.js
    style
      include ic-forms.css

  body(onload="post_iframe_size();")
    div(class="ic-overlay" id="ic-overlay")
      div(class="ic-chase")
        div(class="ic-chase-dot")
        div(class="ic-chase-dot")
        div(class="ic-chase-dot")
        div(class="ic-chase-dot")
        div(class="ic-chase-dot")
        div(class="ic-chase-dot")
    form(
      class="ic-form",
      method="POST",
      id=formID,
      action=submitAction,
      enctype="multipart/form-data")
      each formItem in formItems
        div(class="ic-form-field-container")
          label(for=formItem.form_item_id) #{formItem.label}
          span(class="ic-description") #{formItem.description}
          case formItem.component
            when "input" 
              input(
                class="ic-input",
                type="text",
                id=formItem.form_item_id,
                name=formItem.form_item_id,
                placeholder=formItem.placeholder
                required=formItem.validation && formItem.validation.required
              )
            when "textarea"
              textarea(
                class="ic-textarea",
                id=formItem.form_item_id,
                name=formItem.form_item_id,
                placeholder=formItem.placeholder
              )
            when "select"
              div(class="ic-select-container")
                select(
                  class="ic-select",
                  id=formItem.form_item_id,
                  name=formItem.form_item_id,
                )
                  each option in formItem.options
                    option(value=option.value) #{option.label}
                include select-icon.svg
            when "radio"
              each option in formItem.options
                div(style="display: flex")
                  input(
                    type="radio"
                    name=formItem.form_item_id,
                    value=option.value
                    checked=formItem.default_value === option.value
                  )
                  span(style="margin-left: 5px") #{option.label}
            when "checkbox"
              each option in formItem.options
                div(style="display: flex")
                  input(
                    type="checkbox"
                    name=formItem.form_item_id,
                    value=option.value
                    checked=formItem.default_value === option.value
                  )
                  span(style="margin-left: 5px") #{option.label}
            when "file_upload"
              input(type="hidden", name=formItem.form_item_id id=`fileKey-${formItem.form_item_id}`)
              input(
                type="file",
                id=`fileUpload-${formItem.form_item_id}`,
                name=formItem.form_item_id,
                accept="application/pdf, image/jpeg",
                required=formItem.validation && formItem.validation.required
              )
            default: span Invalides Formularelement
      div
        button(class="ic-submit-button" type="submit") Absenden

