html
  head
    title icruiting-webform
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://sdk.amazonaws.com/js/aws-sdk-2.680.0.min.js')
    script
      include ic-iframe-resize.js
      include ic-onSubmit.js
    style
      include ic-forms.css

  body(onload="post_iframe_size();")
    div(id='ic-iframe-container')
      form(
        class="ic-form",
        method="POST",
        id=formId,
        action=submitAction,
        enctype="multipart/form-data"
        onSubmit="onSubmit()")

        each formField in formFields
          div(class="ic-form-field-container")
            label(for=formField.formFieldId class="ic-font-300") #{formField.label}#{formField.required ? '*' : ''}
            span(class="ic-description ic-font-200") #{formField.description}
            case formField.component
              when "input" 
                input(
                  class="ic-input ic-font-200",
                  id=formField.formFieldId,
                  name=formField.formFieldId,
                  placeholder=formField.placeholder,
                  required=formField.required, 
                  type=(formField.props && formField.props.type) || 'text'
                )
              when "date_picker"
                input(
                  class="ic-input ic-font-200",
                  type="date",
                  id=formField.formFieldId,
                  name=formField.formFieldId,
                  required=formField.required 
                ) 
              when "textarea"
                textarea(
                  class="ic-textarea ic-font-200",
                  id=formField.formFieldId,
                  name=formField.formFieldId,
                  placeholder=formField.placeholder
                  required=formField.required 
                )
              when "select"
                select(
                  class="ic-select",
                  id=formField.formFieldId,
                  name=formField.formFieldId,
                  required=formField.required 
                )
                  each option in formField.options
                    option(value=option.value) #{option.label}
              when "radio"
                each option in formField.options
                  div(style="display: flex")
                    input(
                      type="radio"
                      name=formField.formFieldId,
                      value=option.value
                      checked=formField.defaultValue === option.value
                      required=formField.required 
                    )
                    span(style="margin-left: 5px" class="ic-font-200") #{option.label}
              when "checkbox"
                each option in formField.options
                  div(style="display: flex")
                    // required validation currently only works for single option checkbox
                    input(
                      type="checkbox"
                      name=formField.formFieldId,
                      value=option.value
                      checked=formField.defaultValue === option.value
                      style="margin-top: 3.5px"
                      required=formField.required && formField.options.length === 1
                    )
                    span(style="margin-left: 5px" class="ic-font-200") #{option.label}
              when "file_upload"
                input(type="hidden", name=formField.formFieldId id=`fileKey-${formField.formFieldId}`)
                input(
                  type="file",
                  id=`fileUpload-${formField.formFieldId}`,
                  name=formField.formFieldId,
                  accept=(formField.props && formField.props.accept) || "application/pdf, image/jpeg",
                  required=formField.required 
                )
              default: span Invalides Formularelement
        div
          button(class="ic-submit-button ic-font-300" id="ic-submit-button" type="submit") 
            span(class="ic-submitt-button-label") Absenden
            div(class="ic-spinner-container")
              span(class="ic-spinner")
