html
  head
    title Report
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap")
          
    style.
      html {
          -webkit-print-color-adjust: exact;
      }
      body {
        font-family: "DM Sans", sans-serif;
        padding: 0 32px;
        margin: 0;
        width: calc(100% - 64px);
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        table-layout: fixed;
      }
      th, td {
        padding: 10px;
        border: 1px solid #ddd;
      }
      th {
        background-color: #F0F3F4 !important;
        font-weight: bold;
        max-width:  50%;
      }
      tr:nth-child(even) {
        background-color: #ffffff;
      }
      tr:nth-child(odd) {
        background-color: #F6F6F6;
      }
      th:first-child {
        text-align: left;
      }
      th:last-child {
        text-align: right;
      }
  body()
    h2 Gutachten - #{applicant.name}

    h3 Formularergebnisse
    each formScore in report.formResults
      table
        tr
          th #{formScore.formTitle}
          th #{formScore.formScore} &isin; [#{formScore.possibleMinFormScore}, #{formScore.possibleMaxFormScore}]
        each fieldScore in formScore.formFieldScores
          tr
            td= fieldScore.label
            td
              if fieldScore.intent === 'aggregate'
                ul(style='list-style: circle; padding-left: 1em; margin: 0;')
                  each value in fieldScore.aggregatedValues
                    li(style='white-space: pre-line;')= value
              else if fieldScore.intent === 'sum_up'
                div(style="text-align: right") #{fieldScore.formFieldScore} | &sigma; = #{fieldScore.stdDevFormFieldScore}
              else if fieldScore.intent === 'count_distinct'
                ul(style='list-style: circle; padding-left: 1em; margin: 0')
                  each value, key in fieldScore.countDistinct
                    li #{key}: #{value}

    if ['assessment', 'onboarding'].includes(formCategory)
      h3 Anforderungsprofil
      table
        each requirementResult, key in report.jobRequirementResults
          tr
            td= requirementResult.requirementLabel
            td(style="text-align: right")= (Math.round(100 * requirementResult.jobRequirementScore) / 100).toFixed(2)

      // Note: Radar chart is not included as it requires additional JavaScript libraries